
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.red{
  color: red;
}

/* chargement  */
#chargement
{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: black;
  animation: changeColor 5s linear infinite;
}
@keyframes changeColor
{
  0%
  {
    filter: hue-rotate(0deg);
  }
  100%
  {
    filter: hue-rotate(360deg);
  }
}
#chargement h2 {
  color: #00ff0a;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  letter-spacing: 10px;
}
#chargement .loader
{
  position: relative;
  display: flex;
}
#chargement .loader .dot
{
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background: #00ff0a;
  box-shadow: 0 0 10px #00ff0a,
              0 0 20px #00ff0a,
              0 0 40px #00ff0a,
              0 0 60px #00ff0a,
              0 0 100px #00ff0a;
  margin: 20px 10px;
  transform: scale(0.1);
  border-radius: 50%;
  animation: animateDot 2s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}
#chargement .loader:last-child .dot
{
  animation-delay: calc(-0.1s * var(--i));
}
@keyframes animateDot
{
  0%
  {
    transform: scale(0.1);
  }
  10%{
    transform: scale(1);
  }
  50%,100%
  {
    transform: scale(0.1);
  }
}

@media screen and (max-width: 600px) {
  #chargement h2 {
    margin-top: 10px;
    letter-spacing: 5px;
    font-size: 18px;
  }

  #chargement .loader .dot
{

  width: 10px;
  height: 10px;
  margin: 10px 5px;
}
  
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */
/* -_-_-_-_-_-_-_-_-_-_-fin de chargement -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */

/* background brique */
#bg-brique
{
  position: relative;
  width: 100%;
  height: 100vh;
  background: white;
}
#bg-brique #main-content{
  visibility: hidden;
  position: relative;
  text-align: center;
  z-index: 1;
}
.banner
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transform: translateX(5%); */
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;

}
.banner .blocks 
{
  position: relative;
  display: block;
  width: 5vw;
  height: 5vh;
  background: white;
  animation: animate 0.75s ease-in-out forwards;
}
.banner .blocks:nth-child(even)
{
  animation: animate 1s ease-in-out forwards;
} 
.banner .blocks:nth-child(7n+3)
{
  animation: animate 2.5s ease-in-out forwards;
} 
.banner .blocks:nth-child(7n+7)
{
  animation: animate 1.5s ease-in-out forwards;
} 
@keyframes animate
{
  0%
  {
    opacity: 0;
    transform: scale(0) translateY(1000px);
  }
  50%
  {
    opacity: 1;
    background: rgb(34, 30, 30);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

  }
  100%
  {
    opacity: 1;
    transform: scale(1) translateY(0px);
    background: rgb(34, 30, 30);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */
/* -_-_-_-_-_-_-_-_-_-_-fin background brique -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */


/* panneau 3d */

.box
{
  position: relative;
  height: 200px;
  top: 50px;
  transform-style: preserve-3d;
  animation: panneau 16s linear infinite;
}
@keyframes panneau
{
  0%
  {
    transform: rotateX(-20deg) rotateY(360deg);
  }
  100%
  {
    transform: rotateX(-20deg) rotateY(0deg);
  }
}
.box div
{
  position: absolute;
  inset: 0;
  transform-style:preserve-3d ;
}
.box div.rock span
{
  position: absolute;
  left: calc(50% - 100px);
  width: 200px;
  height: 100px;
  background-color: #444;
  transform: rotateY(calc(90deg *var(--i))) translateZ(100px);
  transition: 0.5s;
}
.box:hover div.rock span
{
  background: red;
  filter: drop-shadow(0 0 50px red);
}
.box div.phrase span
{
  position: absolute;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
  cursor: pointer;
  color: white;
  font-size: 8em;
  text-transform: uppercase;
  z-index: 10;
  line-height: 1em;
  -webkit-text-stroke: 3px black;
  transform-style: preserve-3d;
}
.box div.phrase span:nth-child(1)
{
  font-size: 6em;
}
.box div.phrase span::before
{
  content: attr(data-text);
  position: absolute;
  bottom: 7px;
  transform-origin:bottom;
  transform: rotateX(90deg);
  color: rgba(0,0,0,0.1);
  -webkit-text-stroke: 0px black;
  filter: blur(5px);
}
.box div.phrase span::after
{
  content: "";
  position: absolute;
  top: 100px;
  width: 360px;
  height: 60px;
  background-attachment: #444;
  transform: rotateX(-90deg);
  transition: 0.5s;
}
.box:hover div.phrase span::after
{
  background: red;
  filter: drop-shadow(0 0 50px red);
}


@media (max-width: 500px)
{
 /* panneau 3d */

.box
{
  position: relative;
  height: 200px;
  top: 50px;
  transform-style: preserve-3d;
  animation: panneau 16s linear infinite;
}
@keyframes panneau
{
  0%
  {
    transform: rotateX(-20deg) rotateY(360deg);
  }
  100%
  {
    transform: rotateX(-20deg) rotateY(0deg);
  }
}
.box div
{
  position: absolute;
  inset: 0;
  transform-style:preserve-3d ;
}
.box div.rock span
{
  position: absolute;
  left: calc(50% - 100px);
  width: 200px;
  height: 500px;
  background-color: #444;
  transform: rotateY(calc(90deg *var(--i))) translateZ(100px);
  transition: 0.5s;
}
.box:hover div.rock span
{
  background: red;
  filter: drop-shadow(0 0 50px red);
}
.box div.phrase span
{
  position: absolute;
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
  cursor: pointer;
  color: white;
  font-size: 8em;
  text-transform: uppercase;
  z-index: 10;
  line-height: 1em;
  -webkit-text-stroke: 3px black;
  transform-style: preserve-3d;
}
.box div.phrase span:nth-child(1)
{
  font-size: 6em;
}
.box div.phrase span::before
{
  content: attr(data-text);
  position: absolute;
  bottom: 7px;
  transform-origin:bottom;
  transform: rotateX(90deg);
  color: rgba(0,0,0,0.1);
  -webkit-text-stroke: 0px black;
  filter: blur(5px);
}
.box div.phrase span::after
{
  top: 100px;
  width: 360px;
  height: 60px;
  background-attachment: #444;
  transform: rotateX(-90deg);
  transition: 0.5s;
}
.box:hover div.phrase span::after
{
  background: red;
  filter: drop-shadow(0 0 50px red);
} 
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */
/* -_-_-_-_-_-_-_-_-_-_-fin panneau 3d-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */

/* modal */

.carte
{
  position: relative;
  top: 100px;
  margin: auto;
  width: 600px;
  height: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  transition: 0.5s;
}
.carte .cercle
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.carte .cercle:hover
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: wheat;
}
.carte .cercle::before
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  clip-path: circle(150px at center); 
  transition: 0.5s;
}
.carte .cercle:hover:before
{
  background-color: antiquewhite;
  clip-path: circle(400px at center); 
}
.carte img
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%,-50%);
  height: 170px;
  pointer-events: none;
  transition: 0.5s;
}
.carte:hover img
{
  left: 70%;
  /* height: 400px; */
}
.carte .contenue
{
  position: relative;
  width: 50%;
  text-align: start;
  margin: 5px 0 5px 5px;
  /* left: 5%; */
  /* padding: 20px 20px 20px 40px; */
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.carte:hover .contenue
{
  opacity: 1;
  visibility: visible;
}
.carte .contenue h2
{
  color: grey;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 30px;
}
.carte .contenue p 
{
  color: black;
  margin-bottom: 10px;
}
.carte .contenue a
{
  position: relative;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  background: white;
}
.carte .contenue button
{
  background: red;
  padding: 2px 2px;
  border-radius: 5px;
  border: red;
  color: white;
}
@media (max-width: 500px)
{
  .carte
{
  top: 100px;
  width: 300px;
  height: 250px;
}
.carte .cercle
{
  top: 0;
  left: -10px;
  width: 100%;
  height: 100%;
}
.carte .cercle:hover
{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
.carte .cercle::before
{
  clip-path: circle(100px at center); 
}
.carte img
{
  top: 50%;
  left: 40%;
  height: 100px;
}
.carte .contenue
{
  position: relative;
  width: 50%;
  text-align: start;
  margin: 5px 0 5px 5px;
  /* left: 5%; */
  /* padding: 20px 20px 20px 40px; */
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.carte .contenue h2
{
  color: grey;
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 1em;
  margin-bottom: 10px;
}
.carte .contenue p 
{
  color: black;
  margin-bottom: 10px;
  font-size: 10px;
}
.carte .contenue input
{
  height: 18px;
  width: 100px;
  margin-bottom: 15px;
}
.carte .contenue button
{
  font-size: 11px;
  background: red;
  padding: 1px 1px;
  border-radius: 3px;
  border: red;
  color: white;
}
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */
/* -_-_-_-_-_-_-_-_-_-_-fin modal-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */