*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../assets/6.4.jpg);
    background-size: 15%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}